<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="unrb_ra10">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import unrb_ra10 urdf file -->
    <xacro:include filename="$(find ra_10)/urdf/unrb_ra10.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="unrb_ra10.ros2_control.xacro" />


    <xacro:unrb_ra10_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
